fastapi
uvicorn[standard]
python-multipart
pymupdf
groq
edge-tts
python-dotenv
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
